.main-display {
	height: 100%;
	width: 100%;
	padding: 15px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.main-display>* {
	width: calc(50% - 14px);
	margin: 7px;
	background-color: #EBF5FB;
}

.main-display h2 {
	padding: 10px;
	border: 5px solid black;
	border-radius: 5px;
}

.picture-container {
	flex: 1 1 100%;
	border: 5px solid black;
	border-radius: 5px;
	text-align: center;
	padding-top: 30px;
}

.picture-container img {
	width: 30%;
	display: block;
	margin: auto;
}

.picture-container button {
	font-size: 1.25rem;
	font-family: inherit;
	padding: 10px;
}

.type-container {
	display: flex;
	justify-content: center;
	width: 40%;
	margin: 10px auto 0 auto;
}

.type-container img {
	margin: 0;
}

.metrics-container {
	margin: 10px auto 0 auto;
	width: 60%;
	display: flex;
	justify-content: space-around;
}

.height p, .weight p, .stats-grid p {
	font-size: 1.2rem;
	padding: 10px 0 10px 0;
}

.stats-container {
	flex: 1 1;
	border: 5px solid black;
	border-radius: 5px;
	padding: 20px;
}

.stats-container .stats-grid {
	width: 100%;
	padding: 10px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}